@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*¨ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


h1 {
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

p {
  color: #000;
  text-align: center;
}

/* *.fondo {
  background-color: bisque;
  width: 100%;
  height: 100%;

} */

.banner {

  background-color: darkorange;
  border-radius: 4px;
  border-color: black;
  align-items: center;
  font-size: medium;

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  /* Ajusta esta propiedad para establecer la distancia entre las imágenes y el margen inferior */

}

.link {
  font-size: small;
  align-self: center;
  font-style: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


a {
  font-family: 'Lobster', cursive;
  font-family: 'Roboto', sans-serif;
  font-style: inherit;
  text-decoration: solid;
  font-size: medium;

}


.container {
  align-items: center;
  font-weight: bolder;

}

.liMenu {
  display: inline-block;
  position: relative;
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s all ease;
}

li:hover {
  color: grey;
  transition: 0.4s all ease;
}

li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: brown;
  transform-origin: bottom right;
  transition: 0.5s ease-out;
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.alinear-centro {
  border-color: #000;
  border-style: double;
  margin-top: 10px;
  text-align: center;
  background-color: #000;

}

.h2white {
  color: #fff;
}

.divclass {
  background-color: brown;
}



.fondoblanco {
  margin-top: 15px;
  background-color: #fff;
  text-align: center;

}

.talles {
  color: white;
  text-shadow: rgb(201, 186, 186) 0.1em 0.1em 0.2em
}

.promoMujeres {
  color: rgb(219, 158, 158);
  text-shadow: rgb(22, 22, 22) 0.1em 0.1em 0.2em;
  font-size: 2.5rem;

}

.fondohombre {
  background-color: #000;
}

.promoHombre {
  color: rgb(226, 28, 28);
  text-shadow: rgb(238, 236, 236) 0.1em 0.1em 0.2em;
  font-size: 2.5rem;
}


.sucur {
  border-bottom: 20px;
  background-color: #000;
  color: #efefef;
  text-align: center;
  }

.columna {
  width: 30%;
  float: left;
  margin: 0 1.5%;
  background-color: #eee;
  padding: 20px;
}

.trabaja{  
background-color: grey;

  color: antiquewhite;
}

.tcn{
  text-align: center;
}


.fondocolor{
  background-color: #0a1a2a
}

input[type="text"] {
  width: 300px;
  height: 25px;
  font-size: 15px;
  padding: 2px;
}

input[type="email"] {
  width: 300px;
  height: 25px;
  font-size: 12px;
  padding: 2px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

.boxLogo {
  background-color: rgb(240, 234, 234);
  text-align: center;

}

.pie-pagina {
  width: 100%;
  background-color: #000;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

.dire {
  color: #fff;
  text-align: center;

}